<h1>Help</h1>
<p>
  Get help on Ruby on Rails by going to  
  <a href="http://en.wikipedia.org/wiki/Ruby_on_Rails">Wikipedia article on Ruby on Rails</a>.
  To get help on this application, contact me through 
  <a href="http://www.facebook.com/Yeung.Keith">Facebook</a>.
</p>