<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Facebook page", 'http://www.facebook.com/Yeung.Keith' %></li>
      <li><%= link_to "Wikipedia", 'http://en.wikipedia.org' %></li>
    </ul>
  </nav>
</footer>